@font-face {
  font-family: Abel;
  src: url(../fonts/Abel/Abel-Regular.ttf);
}
@font-face {
  font-family: Aladin;
  src: url(../fonts/Aladin/Aladin-Regular.ttf);
}
@font-face {
  font-family: Jost;
  src: url(../fonts/Jost/static/Jost-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
}
html {
  font-size: calc(25px - 0.1vh);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.disp-md {
  display: none !important;
}

.opacity-0 {
  opacity: 0;
}

.rotateIcon {
  animation: rotateIcon 1s ease alternate;
}

.mk-abel {
  font-family: "Abel", sans-serif !important;
}

.mk-aladin {
  font-family: "Aladin", sans-serif !important;
}

.mk-jost {
  font-family: "Jost", sans-serif !important;
}

body {
  display: flex;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li {
  list-style: none;
}

#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  flex-grow: 1;
  background: #f5f5f5;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /*--------------------------------------------------------------
  # Footer Section
  --------------------------------------------------------------*/
}
.App .Nav {
  background-color: #FFFFFF;
  height: 70px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  z-index: 10;
  padding: 0 0.5em;
}
.App .Nav > div {
  height: 100%;
}
.App .Nav .navbar-toggle .btn {
  position: relative;
  height: 100%;
  width: 2em;
  border: none;
}
.App .Nav .navbar-toggle .btn svg {
  transition: 1s ease;
  position: absolute;
  height: 50%;
  width: 60%;
  top: 18%;
  left: 22%;
}
.App .Nav .nav-items {
  height: 100%;
  background-color: #FFFFFF;
}
.App .Nav .nav-items ul {
  display: flex;
  gap: 8px;
  height: 100%;
}
.App .Nav .nav-items ul li {
  height: 100%;
}
.App .Nav .nav-items ul li a {
  height: 100%;
  text-transform: capitalize;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .Nav .nav-items ul li a svg {
  color: #007BFF;
  position: relative;
  transform: translateY(50%);
  transition: 0.17s ease-in;
}
.App .Nav .nav-items ul li a span {
  color: #333333;
  font-size: 0.6em;
  transform: translateY(150%);
  transition: 0.17s ease-in;
}
.App .Nav .nav-items ul li a.active svg, .App .Nav .nav-items ul li a:hover svg {
  transform: translateY(-150%);
}
.App .Nav .nav-items ul li a.active span, .App .Nav .nav-items ul li a:hover span {
  transform: translateY(-50%);
}
.App .Home {
  width: 100%;
  background: #f5f5f5;
  flex-grow: 1;
  overflow-y: auto;
}
.App .Home section {
  width: 100%;
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
}
.App .Home section:not(:first-of-type) {
  margin: 5em 0 6em 0;
}
.App .Home section.hero {
  height: 90vmin;
  position: relative;
  background: url(../../public/images/codingman2.jpg) no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
}
.App .Home section.hero .overlay {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
.App .Home section.hero .hero-content {
  text-align: center;
  position: absolute;
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .Home section.hero .hero-title {
  color: #FFF;
  font-size: calc(9vmin - 2px);
  text-wrap: wrap;
  word-break: normal;
  font-weight: 600;
  text-align: center;
  width: 100%;
}
.App .Home section.hero .hero-subtitle-box {
  height: 30%;
}
.App .Home section.hero .hero-subtitle-box .hero-subtitle {
  color: #ccc;
  font-size: calc(10vmin - 10px);
}
.App .Home section.hero .hero-subtitle-box .hero-subtitle .typed:after {
  opacity: 1;
  animation: blink 0.7s infinite;
  visibility: visible;
  content: "";
  background-color: #fff;
  display: inline-block;
  position: relative;
  width: 2px;
  height: 1em;
  top: 5px;
  margin-left: 3px;
}
.App .Home section .section-head {
  width: 100%;
  margin-bottom: 2em;
}
.App .Home section .section-head h2 {
  text-align: center;
  text-transform: uppercase;
  font-family: "Jost", sans-serif;
  font-size: 5vw;
}
.App .Home section .section-head h2 span {
  color: #007BFF;
}
.App .Home section .section-head h2:after {
  content: "";
  display: block;
  margin: auto;
  width: 70%;
  height: 3px;
  border-top: 5px dotted #007BFF;
  background: transparent;
}
.App .Home section.about .about-me-text p {
  text-align: center;
  font-family: "Abel", sans-serif;
  font-size: 18px;
  padding: 0 5vw;
  font-weight: 500;
}
.App .Home section.portfolio {
  background: url(../../public/images/codinghand.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
}
.App .Home section.portfolio .portfolio-box {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .Home section.portfolio .portfolio-box .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #007BFF;
  opacity: 0.7;
}
.App .Home section.portfolio .portfolio-box .portfolio-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}
.App .Home section.portfolio .portfolio-box .portfolio-contents p {
  color: #eee;
  text-align: center;
}
.App .Home section.portfolio .portfolio-box .portfolio-contents .portfolio-btns {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
}
.App .Home section.portfolio .portfolio-box .portfolio-contents .portfolio-btns a {
  border: 1px solid #eee;
  color: #eee;
  transition: 0.5s ease;
  box-shadow: inset 0px 0px 5px #eee;
}
.App .Home section.portfolio .portfolio-box .portfolio-contents .portfolio-btns a:hover {
  color: #111;
  background: #eee;
}
.App .Home section.portfolio .portfolio-box .portfolio-contents .portfolio-btns button {
  border: 1px solid #eee;
  background-color: #eee;
}
.App .Home section.portfolio .portfolio-box .portfolio-contents .portfolio-btns button:hover {
  box-shadow: inset 0px 0px 5px #111;
}
.App .Home section.services .container .row .col-lg-4 .service-box {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 5px #333333;
  padding: 1.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  text-align: center;
  height: 85%;
  transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.App .Home section.services .container .row .col-lg-4 .service-box .service-icon {
  font-size: 1.5em;
}
.App .Home section.services .container .row .col-lg-4 .service-box .service-description {
  font-size: 16.5px;
}
.App .Home section.services .container .row .col-lg-4 .service-box:hover {
  background-color: #333333;
  color: #FFFFFF;
}
.App .Home section.skills {
  background: url(../../public/images/tools.jpg) fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  background-position: 40% 80%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .Home section.skills .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #111;
  opacity: 0.9;
}
.App .Home section.skills .container-fluid {
  position: absolute;
  margin: auto;
  height: 80%;
  width: 100%;
  padding: 0;
}
.App .Home section.skills .container-fluid h4 {
  font-size: 0.6em;
  text-align: center;
  color: #eee;
}
.App .Home section.skills .container-fluid .skills-slider {
  width: 100%;
  height: 100%;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme {
  width: 100%;
  height: 100%;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer {
  width: 100%;
  height: 100%;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage {
  height: 100%;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  height: 100%;
  background: #FFFFFF;
  box-shadow: #333333;
  opacity: 0.7;
  position: relative;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item .skill-icon {
  font-size: 3.5em;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item .skill-description .title {
  font-size: 1.4em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item .skill-description .info {
  font-size: 0.68em;
  padding: 0 2.5em;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item .skill-level {
  width: 80%;
  padding: 0 0.6em;
  position: absolute;
  top: 80%;
  left: 20px;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item .skill-level .level-text {
  font-size: 0.7em;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item .skill-level .progress {
  height: 10px;
  background: #ccc;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item .skill-level .progress .progress-bar {
  background: #333333;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-nav .owl-prev span,
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-nav .owl-next span {
  color: #ccc;
  background: transparent;
  font-size: 2rem;
}
.App .Home section.skills .container-fluid .skills-slider .owl-theme .owl-nav[class*=owl-]:hover {
  background: transparent;
  color: #007BFF;
}
.App .Home section.contact .contact-box {
  background-color: #FFFFFF;
  padding: 1.5rem 1.3rem;
  border-radius: 1rem;
  width: 100%;
  position: relative;
  height: 35vh;
  overflow: hidden;
  margin-bottom: 0.8em;
}
.App .Home section.contact .contact-box .contact-overlay {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #007BFF;
  color: #eee;
  font-size: 0.7em;
  text-align: center;
  transition: 0.5s ease;
}
.App .Home section.contact .contact-box .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.App .Home section.contact .contact-box .content .contact-icon {
  font-size: 3em;
}
.App .Home section.contact .contact-box .content p {
  font-size: 0.8em;
  font-family: "Abel", sans-serif;
  font-weight: 600;
}
.App .Home section.contact .contact-box .content:hover + .contact-overlay,
.App .Home section.contact .contact-box .contact-overlay:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 120px;
  font-size: 1.5em;
  opacity: 0.7;
  border-bottom: 2px solid #333333;
}
.App .Nav.dark {
  background-color: #121212;
  color: white;
}
.App .Nav.dark svg {
  color: #f5f5f5;
}
.App .Nav.dark .nav-items {
  background-color: #111 !important;
}
.App .Nav.dark .nav-items span {
  color: #f5f5f5;
}
.App .Home.dark {
  background-color: #030303;
  color: white;
}
.App .Home.dark section.about {
  background: transparent;
}
.App .Home.dark section.services.services .container .row .col-lg-4 .service-box {
  background-color: #121212;
  color: white;
}
.App .Home.dark section.services.services .container .row .col-lg-4 .service-box:hover {
  background-color: #e6e6e6;
  color: #333333;
}
.App .Home.dark section.skills .container-fluid .skills-slider .owl-theme .owl-stage-outer .owl-stage .owl-item {
  background-color: #121212;
  color: white;
}
.App .Home.dark section.contact .contact-box {
  background-color: #121212;
  color: white;
}
.App .Footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111;
  z-index: 5;
}
.App .Footer .socials {
  display: flex;
  gap: 10px;
  padding: 1em 0;
  font-size: 1.2em;
}
.App .Footer p {
  font-size: 0.7em;
  color: #eee;
}
.App .Footer b {
  font-size: 0.5em;
  color: #ccc;
}
.App .backTop {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  background: #007BFF;
  color: #f5f5f5;
  box-shadow: 0px 0px 4px #333333;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App .backTop.show {
  visibility: visible !important;
  opacity: 1;
}

@keyframes rotateIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media only screen and (max-width: 776px) {
  .disp-md {
    display: block !important;
  }
  .App .Nav .nav-items {
    opacity: 0;
    width: 100%;
    height: 0em;
    max-height: 20em;
    position: relative;
    background-color: #FFFFFF;
    margin-top: 0.01em;
    box-shadow: 0px 6px 6px #333333;
    transition: 0.3s ease;
    overflow: hidden;
  }
  .App .Nav .nav-items ul {
    flex-direction: column;
    justify-content: left;
  }
  .App .Nav .nav-items ul li a svg {
    transform: translateY(50%);
  }
  .App .Nav .nav-items ul li a span {
    font-size: 1em;
    transform: translateY(150%);
    transition: 0.17s ease-in;
  }
  .App .Nav .nav-items.show {
    display: inline-block;
    opacity: 1;
    height: 20em;
  }
  .App section.skills {
    height: 105vh !important;
  }
}
@media only screen and (max-width: 465px) {
  .section-head h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Jost", sans-serif;
    font-size: 30px !important;
  }
}